.Relics_inGame_Root
{
  vertical-align: center;
  horizontal-align: left;
  flow-children: down;
  width: 74px;
  height: 74px;
}

#Relic_Container
{
  padding: 5px;
background-color: gradient( linear, 0% 0%, 0% 100%, from( #5A615Ecc ), to( #879695cc ) );
background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
background-size: 328px 50px;
width: 80px;
height: 80px;
border-radius: 100%;
}

#relic_icon
{
  border-radius: 100%;
}

.RelicTooltip
{
  flow-children: down;
}
