#HiddenPrecompiler
{
  visibility: collapse;
}

#Credits
 {
     horizontal-align: left;
     vertical-align: top;
     margin: 5%;
     flow-children: down;
     		background-image: url("s2r://panorama/images/textures/miniprofile_rock_psd.vtex");
    		background-size: 100% 100%;
    		border-top: 1px solid #ffffff05;
    		border-bottom: 1px solid #00000088;
    		border-left: 1px solid #ffffff05;
    		border-right: 1px solid #00000088;
    	padding:10px;
 }

.credit_div
{
  flow-children: right;
}

.credit_lable
{
  	color:#ffffff;
    font-size: 30px;
  	font-family: "Lucida Console";
  	font-weight: bold;
}

.credit_avatar
{
padding:2px;
width: 30px;
}
