.CChat_Root
{
    width: 40%;
	max-height:320px;
    vertical-align: bottom;
    horizontal-align: center;
    border: 0px solid black;
    flow-children: down;
	margin-bottom: 2px;
	z-index:7;
	/*transform: translatex( 530px );*/
	overflow: clip clip;
background-color: gradient( linear, 0% 0%, 0% 100%, from( #333333cc ), to( #222222ff ) );
background-image: url("s2r://panorama/images/textures/miniprofile_rock_psd.vtex");
background-size: 100% 400px;
border-top: 2px solid #00000088;
border-bottom: 2px solid #ffffff05;
border-left: 2px solid #00000088;
border-right: 2px solid #ffffff05;
}

#CChat_Box
{
    width: 100%;
	max-height:220px;
    vertical-align: bottom;
    flow-children: down;
    vertical-align: top;
    border: 0px solid black;
	overflow: clip scroll;
}


#CChat_Input
{
	width: 100%;
	height: 40px;
    vertical-align: bottom;
    horizontal-align: left;
    border: 0px solid black;
	color:#FFFFFF;
    font-size: 20px;
	font-family: "Lucida Console";
	overflow: clip clip;
}
#CChat_Input_box
{
    width: 100%;
	height:40px;
    horizontal-align: left;
    border: 0px solid black;
    flow-children: right;
	overflow: clip clip;
}

.message_cont
{
	margin-top: 2px;
    vertical-align: bottom;
    width: 100%;
    flow-children: right;
    border-bottom: 2px solid #00000033;
}
.message_avat
{
    vertical-align: top;
    width: 30px;
    height: 30px;
}
.message_text
{
    vertical-align: top;
	margin-left: 5px;
	color:#FFFFFF;
    font-size: 20px;
	font-family: "Lucida Console";
}
#CChat_Open
{
    horizontal-align: right;
    vertical-align: bottom;
    width: 40px;
    height: 40px;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #333333cc ), to( #222222ff ) );
  background-image: url("s2r://panorama/images/textures/miniprofile_rock_psd.vtex");
    border-top: 2px solid #00000088;
    border-bottom: 2px solid #ffffff05;
    border-left: 2px solid #00000088;
    border-right: 2px solid #ffffff05;
}
.chat_closed
{
	/*transform: translatex( -200px );*/
	max-height:115px;
}
.chat_closed_msg
{
	/*transform: translatex( -200px );*/
    height: 75px;
}
