.OverflowInfo
{
    width:100%;
    flow-children: down;
}

Label
{
    font-size: 18px;
    color: #999999;
    vertical-align: top;
}

#Title
{
    flow-children: right;
}

#TitleIcon
{
    width: 64px;
    height: 64px;
    vertical-align: center;
}

#TitleName
{
	width: 450px;
	height: 225px;
}

#BriefDescription
{
}


.Header
{
	font-size: 18px;
    font-weight: bold;
	margin-top: 36px;
	text-transform: uppercase;
}

#ObjectiveHeader
{
	margin-top: 18px;
	font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

#ThroneRow
{
    margin-top: -40px;
}

#ThroneText
{
    margin-top: 60px;
	text-align: right;
}

#ThroneImage
{
    margin-top: -20px;
    width: 240px;
    height: 352px;
}

#CoinsRow
{
    margin-top: -120px;
}

#CoinsImage
{
    width: 240px;
    height: 256px;
}

#CoinsText
{
    margin-top: 160px;
}

#ItemsRow
{
    margin-top: 0px;
}

#ItemsImage
{
    width: 240px;
    height: 192px;
}

#ItemsText
{
    margin-top: 40px;
	text-align: right;
}

#TipsHeader
{
	margin-top: -18px;
}

#TipsRow
{
	flow-children: down;
	margin-right: 92px;
}

.TipText
{
	margin-left: 16px;
    margin-top: 0px;
}

.InfoRow
{
    flow-children: right;
    width: 100%;
}

.TipAbIm
{
	border: 6px solid black;
	border-radius:20px;
	width:100px;
	height:100px;
}




#Tipheader
{
	margin-top: 15px;
    color: #fcaf3d;
    font-weight: bold;
}

#Edit_wut
{
	width: 28px;
	height: 28px;
}

.info_row
{
	flow-children:right;
}
