
@define team_lay_scale: 30px;

#HeroKit_Wrap_Content
{
	height: 100%;
	width: 100%;
	horizontal-align: center;
	flow-children: down;
}
#HeroKit_Listing_All
{
height: 50%;
	overflow: clip clip;
    border: 0px solid black;
    flow-children: right;
    horizontal-align: center;
  background-image: url("s2r://panorama/images/textures/miniprofile_rock_psd.vtex");
  background-size: 100% 100%;
  border-top: 1px solid #ffffff05;
  border-bottom: 1px solid #00000088;
  border-left: 1px solid #ffffff05;
  border-right: 1px solid #00000088;
	padding-bottom: 5px;
}
#HeroKit_Abilities
{
   /* vertical-align: bottom;
    horizontal-align: left; */
  background-color: #00000077;
  border-bottom: 1px solid #ffffff05;
  border-top: 1px solid #00000088;
  border-right: 10px solid #ffffff05;
  border-left: 1px solid #00000088;
	margin: 10px;
	padding: 10px;
    flow-children: down;
    height: 97%;
	overflow: clip scroll;
  horizontal-align: center;
	/*box-shadow: #ffffff80 4px 4px 8px 0px;*/
}

#HeroKit_Traits
{
   /* vertical-align: bottom;
    horizontal-align: left; */
    border: 4px solid black;
    background-color: #333553;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #22222255 ), to( #66662255 ) );
    /*	: 5px;*/
    flow-children: down;
    width: 22%;
    height: 550px;
	padding-top:10px;
	margin-top:15px;
    margin-left:5px;
    margin-right:0px;
	overflow: clip scroll;
	/*box-shadow: #ffffff80 4px 4px 8px 0px;*/
}

#HeroKit_HeroPreview
{
  border: 4px solid black;
  background-color: #333553;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #22222255 ), to( #66662255 ) );
  /*	: 5px;*/
  flow-children: down;
  width: 22%;
  height: 550px;
padding-top:10px;
padding-left:10px;
padding-right:10px;
margin-top:15px;
  margin-left:10px;
  margin-right:10px;
overflow: clip scroll;
}

#HeroKit_UltsList
{
   /* vertical-align: bottom;
    horizontal-align: left; */
  background-color: #00000077;
  border-bottom: 1px solid #ffffff05;
  border-top: 1px solid #00000088;
  border-right: 1px solid #ffffff05;
  border-left: 1px solid #00000088;
	margin: 10px;
	padding: 10px;
    flow-children: down;
    height: 97%;
	overflow: clip scroll;
  horizontal-align: center;
	/*box-shadow: #ffffff80 4px 4px 8px 0px;*/
}
.Ability_row
{
    flow-children: right;
    horizontal-align: center;
    vertical-align: center;
}

.ab_span
{
    width: 10px;
}

#HeroKit_Selection
{
    horizontal-align: center;
    flow-children: right;
}

.kit_labels
{
	width:200px;
    vertical-align: center;
    horizontal-align: center;
    margin-left: 30px;
}

.WhatA_Drag
{
	wash-color: #39b0d325;
    border: 2px solid red;
}

.lable_text
{
	color:#ffffff;
    font-size: 30px;
	font-family: "Lucida Console";
	font-weight: bold;
    horizontal-align: center;
	text-shadow: 2px 2px 4px 4.0 #000000ff;
}

#HeroKit_Abilities_Selected
{
    horizontal-align: center;

		background-image: url("s2r://panorama/images/textures/miniprofile_rock_psd.vtex");
		background-size: 100% 100%;
		border-top: 1px solid #ffffff05;
		border-bottom: 1px solid #00000088;
		border-left: 1px solid #ffffff05;
		border-right: 1px solid #00000088;
    /*	: 5px;*/
    flow-children: right;
	padding:10px;
}
#HeroKit_ESelect
{
    horizontal-align: center;
    border: 0px solid black;
    background-color: #333553;
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #222288 ), to( #886622 ) );
    /*	: 5px;*/
    flow-children: right;
	padding:10px;
}
#HeroKit_TrSelect
{
    horizontal-align: center;
    border: 0px solid black;
    background-color: #333553;
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #886622 ), to( #888822 ) );
    /*	: 5px;*/
    flow-children: right;
	padding:10px;
}
#HeroKit_Ulimate_Selected
{
    horizontal-align: center;
				background-image: url("s2r://panorama/images/textures/miniprofile_rock_psd.vtex");
				background-size: 100% 100%;
				border-top: 1px solid #ffffff05;
				border-bottom: 1px solid #00000088;
				border-left: 1px solid #ffffff05;
				border-right: 1px solid #00000088;
    /*	: 5px;*/
    flow-children: right;
	padding:10px;
}

.lable_text_p
{
    horizontal-align: center;
    border: 0px solid black;
    background-color: #333553;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #888888 ), to( #333333 ) );
    /*	: 5px;*/
    flow-children: down;
	margin-left:20px;
	padding-left:7px;
	padding-right:7px;
	padding-bottom:7px;
}
#HeroKit_Tooltip
{
    border: 2px solid black;
	width:80%;
	height:200px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000 ), to( #222222 ) );
    /*	: 5px;*/
    horizontal-align: center;
	margin-left:15px;
	margin-bottom:15px;
    flow-children: down;
}

#HeroKit_Tooltip_Ab_Name
{
	width:99%;
    /*	: 5px;*/
    horizontal-align: center;
	margin-left:15px;
}

#HeroKit_Tooltip_Ab_Desc
{
	width:99%;
	height:100%;
    /*	: 5px;*/
    horizontal-align: center;
	margin-left:5px;
    flow-children: down;
}

#tool_tip_name
{
	color:#FFFFFF;
    font-size: 30px;
	font-family: "Lucida Console";
}
#tool_tip_desc
{
	color:#FFFFFF;
    font-size: 20px;
	font-family: "Lucida Console";
}

#tool_tip_bot_wrap
{
	vertical-align: bottom;
	width:100%;
    flow-children: right;
	margin-bottom:4px;
}
#tool_tip_cd
{
    background-color: #000000;
    /*
    : 10px;*/
	padding-left:7px;
	padding-right:7px;
    horizontal-align: left;
	color:#FFFFFF;
    font-size: 25px;
	font-family: "Lucida Console";
	width:400px;
	text-align:left;
	box-shadow: #ffffff80 4px 4px 8px 0px;
	margin:6px;
	box-shadow: #ffffff80 0px 0px 6px 0px;
}

#tool_tip_mana
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000 ), to( #000066 ) );
    /*
    : 10px; */
	padding-left:7px;
	padding-right:7px;
    horizontal-align: right;
	color:#FFFFFF;
    font-size: 25px;
	font-family: "Lucida Console";
	width:400px;
	text-align:left;
	margin:6px;
	box-shadow: #ffffff80 0px 0px 6px 0px;
}


 /* ATTRIBUTES */
#HeroKit_Attributes
{
   /* vertical-align: bottom;
    horizontal-align: left; */
	width:250px;
    flow-children: down;
  background-color: #00000077;
  border-bottom: 1px solid #ffffff05;
  border-top: 1px solid #00000088;
  border-right: 1px solid #ffffff05;
  border-left: 1px solid #00000088;
	margin: 10px;
	padding: 10px;
    horizontal-align: center;

}
#HeroKit_AttPoints
{
	width:100px;
	height:50px;
	background-color: #ffff0044;
background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffff44cc ), to( #cccc22cc ) );
background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
background-size: 328px 50px;
  border-bottom: 1px solid #00000088;
  border-top: 1px solid #ffffff05;
  border-right: 1px solid #00000088;
  border-left: 1px solid #ffffff05;
	margin: 10px;
	padding: 10px;
    /*	: 5px;*/
	/*background-image: url("file://{images}/custom_game/gold_vak.png");*/
    horizontal-align: center;
}

#HeroKit_Attributes_Info
{
	width:100%;
	margin-bottom:15px;
    horizontal-align: center;
	color:#FFFFFF;
    font-size: 30px;
	font-family: "Lucida Console";
	/*font-weight: bold;*/
}
#atr_info
{
	color:#FFFFFF;
    font-size: 16px;
	font-family: "Lucida Console";
	text-align:center;
}

#point_val
{

    horizontal-align: center;
    vertical-align: center;
	color:#000000;
    font-size: 30px;
	font-family: "Lucida Console";
	font-weight: bold;
}


.atr_minus:hover
{
	border-bottom: 2px solid #000000d0;
	border-top: 2px solid #ffffff10;
	border-right: 2px solid #000000d0;
	border-left: 2px solid #ffffff10;
}
.atr_plus:hover
{
	border-bottom: 2px solid #000000d0;
	border-top: 2px solid #ffffff10;
	border-right: 2px solid #000000d0;
	border-left: 2px solid #ffffff10;
}

.atr_plus
{
  	width:25px;
  	height:25px;
	  border-bottom: 2px solid #00000088;
	  border-top: 2px solid #ffffff05;
	  border-right: 2px solid #00000088;
	  border-left: 2px solid #ffffff05;
    horizontal-align: center;
    vertical-align: center;
}
.atr_minus
{

	width:25px;
	height:25px;
	border-bottom: 2px solid #00000088;
	border-top: 2px solid #ffffff05;
	border-right: 2px solid #00000088;
	border-left: 2px solid #ffffff05;
    horizontal-align: center;
    vertical-align: center;
}

.atr_val:hover {
	border-bottom: 2px solid #000000d0;
	border-top: 2px solid #ffffff10;
	border-right: 2px solid #000000d0;
	border-left: 2px solid #ffffff10;
}

.atr_point {
	width:40px;
	height:40px;
    /*	: 5px;*/
    horizontal-align: center;
    vertical-align: center;
}

.atr_val {
	width:80px;
	height:40px;
    /*	: 5px;*/
		border-bottom: 2px solid #00000088;
		border-top: 2px solid #ffffff05;
		border-right: 2px solid #00000088;
		border-left: 2px solid #ffffff05;
    horizontal-align: center;
    vertical-align: center;
		margin: 2px;
}

.prime
{
  /*  : 0px;*/
	text-align:center;
	horizontal-align: center;
	vertical-align: center;
	box-shadow: fill #ffffff80 -5px -4px 20px 8px;
}



    /* Str */
#HeroKit_StrStat
{
    flow-children: right;
    horizontal-align: center;
}
#HeroKit_StrMinus
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #ff0000 ), to( #000000 ) );

}
#HeroKit_StrVal
{
    /*background-color: gradient( linear, 0% 0%, 0% 100%, from( #000055 ), to( #000000 ) );
	*/
background-color: gradient( linear, 0% 0%, 0% 100%, from( #ff4444cc ), to( #cc2222cc ) );
background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
background-size: 328px 50px;

}
#HeroKit_StrPlus
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #ff0000 ), to( #000000 ) );

}
#str_val
{
    horizontal-align: center;
    vertical-align: center;
	color:#FFFFFF;
    font-size: 30px;
	font-family: "Lucida Console";
	font-weight: bold;

}

    /* Agi */
#HeroKit_AgiStat
{
    flow-children: right;
    horizontal-align: center;

}
#HeroKit_AgiMinus
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #00ff00 ), to( #000000 ) );

}
#HeroKit_AgiVal
{
    /*background-color: gradient( linear, 0% 0%, 0% 100%, from( #000055 ), to( #000000 ) );
	*/
background-color: gradient( linear, 0% 0%, 0% 100%, from( #44ff44cc ), to( #22cc22cc ) );
background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
background-size: 328px 50px;

}
#HeroKit_AgiPlus
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #00ff00 ), to( #000000 ) );

}
#agi_val
{
    horizontal-align: center;
    vertical-align: center;
	color:#FFFFFF;
    font-size: 30px;
	font-family: "Lucida Console";
	font-weight: bold;

}



    /* Int */
#HeroKit_IntStat
{
    flow-children: right;
    horizontal-align: center;

}
#HeroKit_IntMinus
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #016dff ), to( #000000 ) );

}
#HeroKit_IntVal
{
    /*background-color: gradient( linear, 0% 0%, 0% 100%, from( #000055 ), to( #000000 ) );
	*/
background-color: gradient( linear, 0% 0%, 0% 100%, from( #4444ffcc ), to( #2222cccc ) );
background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
background-size: 328px 50px;
}
#HeroKit_IntPlus
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #016dff ), to( #000000 ) );

}
#int_val
{
    horizontal-align: center;
    vertical-align: center;
	color:#FFFFFF;
    font-size: 30px;
	font-family: "Lucida Console";
	font-weight: bold;

}


#HeroKit_Compiled
{
    flow-children: down;
    horizontal-align: center;
}
#HeroKit_HpVal
{
	width:200px;
    border: 1px solid black;
    border-radius: 10px;
    /*	: 5px;*/
    flow-children: down;
    horizontal-align: center;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #ff0000 ), to( #000000 ) );
}
#HeroKit_ManaVal
{
	width:200px;
    border: 1px solid black;
    border-radius: 10px;
    /*	: 5px;*/
    flow-children: down;
    horizontal-align: center;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #016dff ), to( #000000 ) );
}

#hp_val
{
    horizontal-align: center;
    vertical-align: center;
	color:#FFFFFF;
    font-size: 30px;
	font-family: "Lucida Console";
	font-weight: bold;

}

#mp_val
{
    horizontal-align: center;
    vertical-align: center;
	color:#FFFFFF;
    font-size: 30px;
	font-family: "Lucida Console";
	font-weight: bold;

}

.HeroKit_Team_Root
{
    flow-children: down;
    horizontal-align: left;
	margin-left:1px;
	margin-right:5px;
    vertical-align: bottom;
	z-index:8;
}

#HeroKit_Team
{
    flow-children: down;
	margin:0px;
}

.PlayerWrap
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000 ), to( #666666 ) );
	/*:5px 5px 5px 5px; */
    flow-children: right;
    horizontal-align: center;
	margin:0px;
}
.ability_slot_team
{
	width:team_lay_scale;
	height:team_lay_scale;
	border:2px solid black;
    /*	: 5px;*/
}
#TeamAbWrap
{
    flow-children: right;
}
#TeamStWrap
{
    flow-children: right;
}
.team_stat
{
	width:team_lay_scale;
	height:team_lay_scale;
    /*	: 5px;*/
    vertical-align: center;
    horizontal-align: center;
	border:2px solid black;
}
#TeamStr
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #ff0000 ), to( #000000 ) );
}
#TeamAgi
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #00ff00 ), to( #000000 ) );
}
#TeamInt
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #0000ff ), to( #000000 ) );
}
#TeamGoldVal
{
}
#player_gold
{
    /*	: 5px;*/
	width:45px;
	height:team_lay_scale;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #ff6600 ), to( #000000 ) );
	border:2px solid black;
}
.team_stat_val
{
    horizontal-align: center;
    vertical-align: center;
	color:#FFFFFF;
    font-size: 15px;
	font-family: "Lucida Console";
	font-weight: bold;
}
#player_steam_profile_wrap
{
	height:team_lay_scale;
    flow-children: right;
}
#player_steam_profile
{
	width:team_lay_scale;
	height:team_lay_scale;
	border:2px solid black;
    /*	: 5px;*/
}

#HeroKit_Time
{
    horizontal-align: center;
	width:150px;
	height:90px;
background-color: gradient( linear, 0% 0%, 0% 100%, from( #333333cc ), to( #222222ff ) );
/*background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");*/
background-size: 400px 90px;
border-top: 2px solid #00000088;
border-bottom: 2px solid #ffffff05;
border-left: 2px solid #00000088;
border-right: 2px solid #ffffff05;
}

#kit_timer
{
    /*	: 5px;*/
    horizontal-align: center;
    vertical-align: center;
	color:#ffffff;
    font-size: 30px;
	font-family: "Lucida Console";
	font-weight: bold;
	text-align:left;
}

#HeroKit_Portrait
{
    horizontal-align: center;
    flow-children: right;
	margin-bottom:15px;
    /*	: 5px;*/
	border:2px solid black;
}
#portrait_mid
{
	width:71px;
	height:94px;
	border:3px solid yellow;
    /*	: 5px;*/
}
#portrait_left
{
	width:35px;
	height:94px;
}
#portrait_right
{
	width:35px;
	height:94px;
}

#HeroKit_Done_Wrap
{
    flow-children: right;
    horizontal-align: center;
}

.HeroKit_Root
{
    width: 100%;
    height: 100%;
    vertical-align: top;
    horizontal-align: center;
    border: 0px solid black;
    /*background-color: #111111;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #666666 ), to( #222222 ) );*/
    background-color: #000000;
	background-size: 100% 100%;
   /*	: 5px;*/
    flow-children: down;
}
.ab_button
{
    width: 64px;
		height: 64px;
		margin:2px;
		padding:3px;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #5A615Ecc ), to( #879695cc ) );
  background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
  background-size: 328px 50px;
  border-top: 2px solid #ffffff05;
  border-bottom: 2px solid #00000088;
  border-left: 2px solid #ffffff05;
  border-right: 2px solid #00000088;
	/*	: 5px;*/
  horizontal-align: right;
}
.ab_button:hover
{
padding:2px;
	wash-color: #ffff0066;
	/*	: 5px;*/
}
.ab_button_selection
{
    width: 64px;
    height: 64px;
    border: 4px solid black;
    horizontal-align: right;
     flow-children: down;
	margin:2px;
	/*	: 5px;*/
	/*box-shadow: #ffffff80 4px 4px 8px 0px;*/
}

.ab_button_done
{
width:150px;
height:90px;
    /*	: 5px;*/
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #555555cc ), to( #000000ff ) );
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
	background-size: 400px 100px;
  border-top: 2px solid #ffffff05;
  border-bottom: 2px solid #00000088;
  border-left: 2px solid #ffffff05;
  border-right: 2px solid #00000088;
    horizontal-align: center;
	text-align: center;
}
#ab_button_done_text
{
	horizontal-align: center;
	vertical-align: center;
color:#ffffff;
	font-size: 30px;
font-family: "Lucida Console";
font-weight: bold;

}
.ab_button_selection:hover
{
  border-top: 2px solid #ffffff10;
  border-bottom: 2px solid #00000099;
  border-left: 2px solid #ffffff10;
  border-right: 2px solid #00000099;
}
.ab_button_done:hover
{
  border-top: 2px solid #ffffff10;
  border-bottom: 2px solid #00000099;
  border-left: 2px solid #ffffff10;
  border-right: 2px solid #00000099;

	  box-shadow: fill #55ff0080 0px 0px 8px 0px;
}
.QQQ:hover
{
padding:2px;
	wash-color: #ffff0066;
	/*	: 5px;*/
}
.QQQ {
    width: 64px;
    height: 64px;
		margin:2px;
		padding:3px;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #5A615Ecc ), to( #879695cc ) );
  background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
  background-size: 328px 50px;
  border-top: 2px solid #ffffff05;
  border-bottom: 2px solid #00000088;
  border-left: 2px solid #ffffff05;
  border-right: 2px solid #00000088;

}

.eldri {
  box-shadow: #55ff0080 4px 4px 8px 0px;
}
